layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" name="workspace"{
        pane name="editor" {
            command "nvim"
        }
    }
}
